@import "src/@fuse/scss/fuse";

:host {

   
    .largeWidth {
        width: 100%;
    }
    
    .smallWidth {
        width: 0%;
    }
    .mat-tab-label-container{
        display: none !important;
    }
}