
  <mat-tab-group  style="width: 100%;">
    <mat-tab [label]="tab.name" *ngFor="let tab of tabConfig">
      <dynamic-form [fields]="tab.item" (submit)="submit($event)">
      </dynamic-form>      
    </mat-tab>
  </mat-tab-group>

  <!-- <div fxFlex="100" class="sec3" fxLayout="column" fxLayoutAlign="center center" >
      <form class="dynamic-form p-24" [formGroup]="form" (submit)="onSubmit($event)" >
          <ng-container *ngFor="let field of fields;" dynamicField [field]="field" 
            [group]="form">
          </ng-container>
        </form>
      </div>


  <div fxFlex="100" fxLayoutAlign="start start" fxLayout="row wrap">
      <div fxFlex="100" class="sec3" fxLayout="column" fxLayoutAlign="center center" >
          <div fxFlex="" class="sec1" fxFlex.xs="55">
              first-section
            </div>
            <div fxFlex="" class="sec2">
              second-section
            </div>
            <div fxFlex="" class="sec4" fxFlex.xs="15">
              third-section
            </div>
      </div>
  </div> -->