<mat-card >
    <mat-card-content  fxLayout="column" fxFlex="100" fxFlex.gt-md="80">
        <form  [formGroup]="form" (submit)="onSubmit($event)">
                <ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="form">
                </ng-container>
                <div class="form-row">
                    <button mat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
                </div> 
        </form>
    </mat-card-content>
</mat-card>