<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
  
        <div id="login-form">
  
            <div class="logo">
                <img src="assets/images/logos/bi-logo-with-tagline.svg">
            </div>
  
            <div class="mat-display-1">We are sorry to see you go!   (｡◕︿◕｡)</div>
  
                <button mat-raised-button color="accent" (click)="unsubscribe()" class="submit-button" aria-label="LOG IN">
                    UNSUBSCRIBE
                </button>

        
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <!-- <span class="text">If change my mind you may register back</span> -->
                <!-- <a class="link" [routerLink]="'/apps/dashboards/analytics'">GO BACK</a> -->
            </div>
  
        </div>
  
    </div>
  
  </div>