<div flex fxLayout="column">
<header>
  <div class="wrapper" fxLayout="row" fxLayoutAlign="start center">
    <a href="#" id="smartwaxpr"></a>
    <a id="menuBtn"></a>
    <nav>
      <a href="#">Book Appointment</a>
      <a href="#">Services</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
      <a href="#">(774) 263-7748</a>
    </nav>
  </div>
</header>
<div id="headGap"></div>
<section id="banner">
  <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
    <h1>We bring the detail shop<br />to your driveway</h1>
    <a href="#">Book an Appointment</a>
  </div>
</section>

<section class="appoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayout.sm="column">
    <h2>Southern Massachusetts' Premier Mobile Auto Detailing Service</h2>
    <a href="#">Book Appointment</a>
  </div>
</section>

<section id="process">
  <div class="overlay">
    <div class="wrapper">
      <h2>Our Process</h2>
      <p>Your time is valuable. We're committed to delivering a great experience.</p>
      <br /><br />
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
        <aside class="package">
          <span></span>
          <h3>1. Select a Package</h3>
        </aside>
        <span class="rghtArr"></span>
        <aside class="schedule">
          <span></span>
          <h3>2. Schedule an Appointment</h3>
        </aside>
        <span class="rghtArr"></span>
        <aside class="pay">
          <span></span>
          <h3>3. Confirm and Pay</h3>
        </aside>
        <span class="rghtArr"></span>
        <aside class="cleaning">
          <span></span>
          <h3>4. We Clean Your Vehicle</h3>
        </aside>
      </div>
    </div>
  </div>
</section>

<section id="package">
  <div class="wrapper">
    <h2>Detail Packages</h2>
    <p>Follow our simple, step-by-step booking process</p>
    <nav id="packageMenu" fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <a href="#" class="active">
        <span class="regular"></span>
        Regular Size Car
      </a>
      <a href="#">
        <span class="suv"></span>
        Small SUV / Station Wagon
      </a>
      <a href="#">
        <span class="minivan"></span>
        Large SUV / Minivan
      </a>
      <a href="#">
        <span class="truck"></span>
        Pickup Truck
      </a>
    </nav>

    <div id="priceTable" fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="10px">
      <aside class="active">
        <ul>
          <li><h3>Interior Detail</h3></li>
          <li><h4><sup>$</sup>99</h4></li>
          <li><span></span> 60min</li>
          <li>
            <p>Detail Vacuum</p>
            <p>Detail Interior Clean</p>
            <p>Interior Protection</p>
            <p>Window Clean</p>
            <p>Door Jamb Clean</p>
          </li>
          <li>
            <a href="#">Select <span></span></a>
          </li>
        </ul>
      </aside>
      <aside class="">
        <ul>
          <li><h3>Exterior Detail</h3></li>
          <li><h4><sup>$</sup>124</h4></li>
          <li><span></span> 120min</li>
          <li>
            <p>Hand Wash</p>
            <p>Wax</p>
            <p>Clay Bar Treatment</p>
            <p>Wheel Clean</p>
            <p>Tire Clean</p>
            <p>Tire Dressing</p>
            <p>Wheel Well Clean</p>
            <p>Window Clean</p>
            <p>Door Jamb Clean</p>
          </li>
          <li>
            <a href="#">Select <span></span></a>
          </li>
        </ul>
      </aside>
      <aside class="">
        <ul>
          <li><h3>Full Detail</h3></li>
          <li><h4><sup>$</sup>199</h4></li>
          <li><span></span> 180min</li>
          <li>
            <p>Hand Wash</p>
            <p>Wax</p>
            <p>Clay Bar Treatment</p>
            <p>Wheel Clean</p>
            <p>Tire Clean</p>
            <p>Tire Dressing</p>
            <p>Wheel Well Clean</p>
            <p>Window Clean</p>
            <p>Door Jamb Clean</p>
            <p>Detail Vacuum</p>
            <p>Detail Interior Clean</p>
            <p>Interior Protection</p>
          </li>
          <li>
            <a href="#">Select <span></span></a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>

<section class="appoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayout.sm="column">
    <h2>Booking an appointment only takes 5 minutes</h2>
    <a href="#">Book Appointment</a>
  </div>
</section>


<section id="services">
  <div class="wrapper">
    <h2>Speciality Services</h2>
    <p>We are dedicated to providing quality service and customer satisfaction at a great value while offering convenient hours.</p>
    <p>Our goal is to provide our customers with the friendliest, most convenient auto detailing experience possible.</p>

    <div class="serviceTab" fxLayout="row wrap" fxLayoutAlign="center start">
      <aside>
        <span class="leather"></span>
        <h3>Leather Treatment</h3>
        <p>Rejuvenate and protect you leather upholstery, with this safe and effective service, using premium leather treatment products.</p>
      </aside>
      <aside>
        <span class="odor"></span>
        <h3>Odor Elimination</h3>
        <p>Want to get the funk out? Our enzymatic odor elimination process kills foul odor causing bacteria for good.</p>
      </aside>
      <aside>
        <span></span>
        <h3>Machine Polish</h3>
        <p>Bring out the very best in your paint. A machine polish removes or reduces the light surface scratches and marring from your clear coat that prevents your car from really standing out.</p>
      </aside>
      <aside>
        <span></span>
        <h3>Headlight Restoration</h3>
        <p>Over time, headlights build up a layer of tough oxidation that not only looks terrible, it hurts night visibility (this is dangerous). Our multi-step process clears this problem right up.</p>
      </aside>
    </div>
    <div class="serviceTab" fxLayout="row wrap" fxLayoutAlign="center start">
      <aside>
        <span class="intShampoo"></span>
        <h3>Interior Shampoo</h3>
        <p>Sometimes a vacuum and a scrub just doesn't cut it. If you want to bring those carpets, mats, and upholstery back to life, this service is for you.</p>
      </aside>
      <aside>
        <span class="sealant"></span>
        <h3>Exterior Sealant</h3>
        <p>Do you love your car and want the best protection available? Our multi step Exterior Sealant application process will keep you protected for up to 12 months.</p>
      </aside>
      <aside>
        <span class="pet"></span>
        <h3>Pet Hair Removal</h3>
        <p>We love our pets, they are awesome, but they can leave your vehicle (and then you) covered in their sheddings. We've got a system to make this hair disappear.</p>
      </aside>
      <aside>
        <span class="wax"></span>
        <h3>Premium Hand Wax</h3>
        <p>Our concours quality premium paste wax will deliver a deep, dripping, reflection to your paint. This is the best of the best and we highly recommend pairing this service with a machine polish.</p>
      </aside>
    </div>
  </div>
</section>

<section id="about-us" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <aside></aside>
  <article>
    <div class="inner">
      <h2>About Us</h2>
      <p>SmartwaxPro is a mobile provider of automotive reconditioning and detailing services. We come to your location on your schedule when you don't need your vehicle. We offer a variety of services to fit the needs of our customer from well structured packages to al-a-carte selections. As our name suggests, we pride ourselves in total professionalism. From the excellent customer experience to extraordinary quality of work, we 100% guarantee you a world-class level of professionalism every time you choose us as your automotive reconditioning specialist.</p>
      <a href="#">Book Appointment</a>
    </div>
  </article>
</section>

<section id="testimonials" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <article>
    <div class="inner">
      <h2>Testimonials</h2>
      <p class="sml">Our customers love us</p>
      <p>Just had my 2005 Toyota detailed. Looks and smells like new. Great Job. AND the best thing is He comes to you. your home..your work..wherever!!</p>
      <br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br />
    </div>
  </article>
  <aside></aside>
</section>

<section id="contact-us">
  <div class="wrapper" fxLayout="row" fxLayoutAlign="center start" fxLayout.sm="row wrap" fxLayout.xs="column">
    <aside class="" fxLayout="row">
      <span></span>
      <h3>Call us at<br /><br /><span>(774) 263-7748</span></h3>
    </aside>
    <aside class="" fxLayout="row">
      <span></span>
      <h3>Our Service Area<br /><br /><small>Greater Southern Massachusetts</small></h3>
    </aside>
    <aside class="" fxLayout="row">
      <span></span>
      <h3>Working Hours<br /><br /><small>Monday - Friday: 10am - 6pm<br />Saturday: 10am - 3pm</small></h3>
    </aside>
  </div>
</section>

<section id="contactSec" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <aside>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.1804086560796!2d-70.73769168462397!3d41.0650489792951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDAzJzU0LjIiTiA3MMKwNDQnMDcuOCJX!5e0!3m2!1sen!2sus!4v1536772980544" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </aside>
  <aside>
    <div class="inner">
      <h2>Leave a message</h2>
      <p>Drop us a line and we'll get back to you as soon as possible.</p>
      <form class="" action="index.html" method="post">
        <h4>Your Name *</h4>
        <input type="text" name="yName" required />
        <h4>Your E-mail *</h4>
        <input type="email" name="yEmail" required />
        <h4>Phone Number</h4>
        <input type="tel" name="yPh" />
        <h4>Message *</h4>
        <textarea name="msgs" required></textarea>
        <button type="submit">Submit Message</button>
      </form>
    </div>
  </aside>
</section>

<footer>
  <div class="wrapper" fxLayout="row" fxLayout.xs="column">
    <aside>
      <h3>About</h3>
      <p>SmartwaxPro details cars on location in the Greater Southern Massachusetts area.</p>
    </aside>
    <aside>
      <h3>Questions?</h3>
      <p>Fill out our <a href="#">Contact form</a> or email us directly at <a href="mailto:chris@smartwaxpro.com">chris@smartwaxpro.com</a>.</p>
      <p>Alternatively, leave us a message at <a href="tel:(774) 263-7748">(774) 263-7748</a> and we'll get back to you as soon as we can.</p>
    </aside>
    <aside>
      <h3>Company</h3>
      <p><a href="#">Book an Appointment</a></p>
      <p><a href="#">About Us</a></p>
      <p><a href="#">Our Services</a></p>
      <p><a href="#">Contact</a></p>
    </aside>
  </div>
  <div class="wrapper">
    <div class="copyright">
      &copy; 2018 Smartwax Pro LLC
    </div>
  </div>
</footer>
<a href="#" id="top"></a>
<div style="width: 100%" flex fxLayout="column">
  <dynamic-profile [fieldData]="fieldOBJ">
  </dynamic-profile>
</div>
</div>

