<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    assignment
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Surveys
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-24 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!-- <button mat-raised-button
                    [routerLink]="'new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW PRODUCT</span>
            </button> -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <!-- <ng-container matColumnDef="surveyid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.surveyid}}</p>
                    </mat-cell>
                </ng-container> -->

                <!-- Image Column -->
                <!-- <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="surveyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>surveyName</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.surveyName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="surveyStarted">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>surveyStarted</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.surveyStarted}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="amountPaid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>amountPaid</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{product.amountPaid | currency:'USD':'symbol'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="paymentStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>paymentStatus</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>

                        <!-- <span class="quantity-indicator text-truncate">
                        </span> -->
                        <span style="color:whitesmoke" [ngClass]="(product.paymentStatus==='PAID')?'mat-green-600-bg':'mat-red-500-bg'">
                            {{product.paymentStatus}}
                        </span>

                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="surveyStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>surveyStatus</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>                      
                        <span style="color:whitesmoke" [ngClass]="(product.surveyStatus==='OPEN')?'mat-yellow-500-bg':'mat-blue-500-bg'">
                            {{product.surveyStatus}}
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
